<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/client.js"></script>
</head>
<body>
    <h1>Spotify stats</h1>

    <form id="top-items" action="">
        <label for="type">Type</label>
        <select name="type" id="type">
            <option value="artists">Artists</option>
            <option value="tracks">Tracks</option>
        </select>
        <label for="time_range">Time range</label>
        <select name="time_range" id="time_range">
            <option value="short_term">Short term (approx. 4 weeks)</option>
            <option value="medium_term">Medium term (approx. 6 months)</option>
            <option value="long_term">Long term (approx. 1 year)</option>
        </select>
        <button type="submit" id="submit-top-items">Submit</button>
    </form>

    <ol id="output">

    </ol>

    <ol id="albums">
        
    </ol>
    
    <script src="../main.js"></script>
</body>
</html>